nav {
  border-bottom: 3px solid black;
}

.text-danger {
  color: red;
}

.eg {
  font-weight: 300;
  font-size: 16px;
}

img {
  object-fit: cover;
}

.required::after {
  margin-left: 0.375 rem;
  color: #f16e00;
  content: " *";
}
